import { Meta, StoryObj } from '@storybook/angular';

import { MatiTableComponent } from './mati-table.component';

type ComponentWithCustomControls = MatiTableComponent;

const meta: Meta<ComponentWithCustomControls> = {
  // title: 'Components/Mati Table',
  component: MatiTableComponent,
  // decorators: [moduleMetadata({imports: []})],
  parameters: {
    docs: { description: { component: `MatiTable` } },
  },
  argTypes: {},
  args: {},
};
export default meta;

export const MatiTable: StoryObj<ComponentWithCustomControls> = {
  render: (args: ComponentWithCustomControls) => ({ props: args }),
  args: {},
}
