<form>
  <table>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Years of experience</mat-label>
          <input matInput type="number">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select>
            <mat-option *ngFor="let enumKey of enumKeys" [value]="enumKey">
              {{FileType2LabelMapping[enumKey]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Company</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td colspan="2">
        <app-company-add></app-company-add>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field appearance="outline">
          <mat-label>Tech Stack</mat-label>
          <input matInput>
        </mat-form-field>
      </td>
      <td colspan="2">
        <app-tech-stack-add></app-tech-stack-add>
      </td>
    </tr>
  </table>
</form>