<div class="grid-container">
  <h1 class="mat-h1">Resumes</h1>
  <!-- Filter and add button -->
  <div class="filter-add-container">
    <div class="filter-container">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Name" #input>
      </mat-form-field>
    </div>
    <div class="add-button-container">
      <button mat-fab color="primary" matTooltip="Add Jobs" (click)="openAddForm()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <!-- Data table -->
  <app-mati-table [dataSource]="dataSource" [displayedColumns]="displayedColumns"
    [columnClasses]="{'description': 'truncate-cell'}" [actionButtons]="{
      'Edit': { tooltip: 'Edit Job', click: updateEvent, icon: 'edit' },
      'Delete': { tooltip: 'Delete Job', click: deleteEvent, icon: 'delete' }
    }">
  </app-mati-table>
</div>