<div class="grid-container">
  <h1 class="mat-h1">Home</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards$ | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <mat-icon inline="true" matTooltip="{{card.info}}">info_outline</mat-icon>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-ongoing-jobs *ngIf="card.type == cardTypes.OngoingJobs"></app-ongoing-jobs>
          <app-skill-counts *ngIf="card.type == cardTypes.SkillCounts"></app-skill-counts>
          <app-monthly-performance *ngIf="card.type == cardTypes.MonthlyPerformance"></app-monthly-performance>
          <app-job-counts *ngIf="card.type == cardTypes.JobCounts"></app-job-counts>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
