<div class="grid-container">
  <h1 class="mat-h1">Jobs</h1>
  <!-- Filter and add button -->
  <div class="filter-add-container">
    <div class="filter-container">
      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Name" #input>
      </mat-form-field>
    </div>
    <div class="add-button-container">
      <button mat-fab color="primary" matTooltip="Add Jobs" (click)="openAddJobForm()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <!-- Data table -->
  <table mat-table [dataSource]="dataSource!" class="mat-elevation-z8" style="width: 100%;">

    <!-- Displayed columns -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">ID</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Designation</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.designation}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">JD</th>
      <td mat-cell *matCellDef="let element" class="truncate-cell" matTooltip="{{element.discription}}"
        style="text-align: center;">{{element.discription}}</td>
    </ng-container>
    <ng-container matColumnDef="salaryRatio">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Salary Ratio</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.startSalary}} - {{element.endSalary}}
      </td>
    </ng-container>
    <ng-container matColumnDef="employment">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Employment Type</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.employment}}</td>
    </ng-container>
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Job Type</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.location}}</td>
    </ng-container>
    <!-- Settings column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;">Action</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button mat-icon-button matTooltip="Edit Job" color="primary" (click)="openAddJobForm()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Delete Job" color="warn" (click)="deleteJob()">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"></tr>

    <tr class="mat-row">
      <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">No data matching the
        filter</td>
    </tr>

  </table>


</div>